{% extends '../base.html' %}
{% load static %}

{%block bodyblock%}



<div class="container-fluid px-0 mx-0 homediv" >
 <div class="container col-lg-6  mx-auto ">
  
        <h2 class="text-center my-3" >Reset Your Password</h2><br>
        <div class="p-4 my-3 shadow-sm">
            <form method="post" enctype="multipart/form-data" >
          
                {% csrf_token %}
              
                <table>
                  {{form.as_table}}
                </table>
             
              
                 
                  <div class="mt-5 mb-3 d-flex justify-content-center">
                    <button type="submit" class="px-5  btn btn-yellow">Reset</button>
                  </div>
            </form>

        </div>
       
          
      
    </div>

  
</div> 



{%endblock%}