{% extends '../base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{%block titleblock%}Update Information | Creative Poultry{%endblock%}
{%block bodyblock%}

<div class="container-fluid px-0 mt-2 mx-0 homediv " >
 <div class="container col-lg-6 ">
  <div class="p-4 border">
    <h3 class="text-center">Update Business Information</h3><hr>
    <form method="post" enctype="multipart/form-data" >
          
        {% csrf_token %}
        {% bootstrap_form form layout='floating'  %}
     
         
          <div class="mt-5 mb-3 d-flex justify-content-center">
            <button type="submit" class="px-5  btn btn-info">Update Information</button>
          </div>
    </form>

  </div>
 </div>
</div> 



{%endblock%}