
  {% load static %}

<div class="container-fluid px-0 mx-0  ">
    <div class="container col-lg-10 py-3">

      {%if user.is_authenticated %}
        {%if user.is_business%}
        {% include 'businessnavbar.html'%}

        {%else%}
        
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class=" text-decoration-none logo" href="{%url 'product:home' %}">
            <img height="60" src="{% static 'images/logo.png'%}" alt="logo">
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           

           
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item me-3">
                <a class="nav-link " href="{%url 'product:home' %}">Products</a>
              </li>
              
             
            
              <li class="nav-item dropdown me-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {%for i in categories%}
                  <li><a class="dropdown-item" href="{%url 'product:category' pk=i.id %}">{{i.category}}</a></li>
                  {%endfor%}
                </ul>
              </li>
            </ul>
              
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            

              <li class="nav-item me-3">
                <a class="nav-link position-relative" aria-current="page" href="{% url 'cart:home'%}"
                  >Cart <i class="fs-3 fa-solid fa-bag-shopping" title="cart"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{cartcount}}
                    </span>
                  </a
                >
              </li>
              <li class="nav-item me-3">
                <a class="nav-link {{homepage}}" aria-current="page" href="{% url 'order:user-orders'%}"
                  >Orders</a
                >
              </li>
              <li class="nav-item dropdown me-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-regular fa-user"></i> {{user.username}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'account:delete-account'%}" onclick="return confirm('Are you sure to delete your account?')" >Delete Account</a></li>
                  <li><a class="dropdown-item" href="/reset-password">Reset Password</a></li>
                  <li><a class="dropdown-item" href="{% url 'messaging:view_messages' %}">Recent Messages</a></li>
                  <li><a class="dropdown-item" href="{% url 'account:logout'%}">Logout</a></li>
                </ul>
              </li>

              </ul>
          
    
          </div>
        </div>
      </nav>

        {%endif%}
      {%else%}
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class=" text-decoration-none logo" href="/login">
            <img height="60" src="{% static 'images/logo.png'%}" alt="logo">

          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
           
            <li class="nav-item me-3">
              <a class="nav-link {{homepage}}" aria-current="page" href="{% url 'account:register'%}"
                >Register</a
              >
            </li>
            <li class="nav-item me-3">
              <a class="nav-link {{article_page}} " href="{% url 'account:login'%}">Login</a>
            </li>
          </ul>
           
        
        
          </div>
        </div>
      </nav>


      {%endif%}

     



    </div>
  </div>